@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
body{
    padding-bottom: 100px;
}
*{
    font-family: Arial;
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    padding: 0 20px;
    box-shadow: 2px 0 7px rgba(0, 0, 0, 0.237);
    z-index: 100;
}
.header-name{
    font-family: monospace;
    font-size: 30px;
    flex: 1;
    text-align: center;
    color: white;
    filter: drop-shadow(1px 1px 3px #ff0404);
    cursor: pointer;
    animation: fadein 1s;
}
.header-nav{
    flex: 1;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
    margin-top: 7px;
    cursor: pointer;
    white-space: nowrap;
}
.nav-li{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.568);
    padding: 6px 10px;
    border-radius: 6px;
    transition: all 0.3s;
    animation: fadein 1s;
    list-style: none;
}
.nav-li:hover{
    box-shadow: 1px 1px 6px rgb(255, 0, 0);
}
.nav-li:active{
    box-shadow: none;
}
.mobile-div{
    display: flex;
}
.hamburger-menu-icon{
    height: 30px;
    display: none;
    cursor: pointer;
}
.main{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 20px;
    animation: fadein 1s;
}
.profile-div{
    margin-bottom: 150px;
}
.photo{
    height: 260px;
    width: 260px;
    border-radius: 120px;
    object-fit: cover;
    filter: drop-shadow(1px 1px 10px rgb(0, 0, 0));
    transition: all 0.3s;
    cursor: pointer;
}
.photo:hover{
    filter: drop-shadow(1px 1px 10px rgb(255, 0, 0));
}
.photo:active{
    filter: none;
}
.profile-content-div{
    margin-top: 40px;
}
.profile-name,h3{
    margin-bottom: 20px;
}
h3{
    font-family: monospace;
    font-size: 20px;
}
.other-links-div{
    margin-top: 50px;
}
.other-links-div{
    display: flex;
    white-space: nowrap;
    margin-bottom: 30px;
}
.lin-div{
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.linkedin-icon,
.mail-icon{
    height: 16px;
    margin-right: 4px;
}
.lin-link{
    color: rgb(0, 21, 255);
    transition: all 0.3s;
}
.mail-div{
    display: flex;
    color: rgb(0, 21, 255);
}
.lin-link:hover{
    color: orangered;
}
.resume-btn{
    border: 1px solid black;
    color: black;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 700;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.635);
    transition: all 0.5s;
}
.resume-btn:hover{
    background-color: black;
    color: white;
}

.about-div{
    margin-bottom: 100px;
}
.about-head{
    text-align: center;
    margin-bottom: 26px;
}
.about-para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
    font-size: 20px;
    text-align: justify;
}

.simple-pro-txt,
.complex-pro-txt{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
/*.msg{
    text-align: center;
}*/
.projects{
    margin-bottom: 100px;
}
.project{
    box-shadow: 1px 1px 6px rgb(255, 0, 0);
    border-radius: 20px;
    padding: 16px;
    cursor: pointer;
}
.simple-pro-txt{
    margin-bottom: 40px;
}
.project:hover{
    box-shadow: 1px 1px 6px rgb(0, 17, 255);
}
.project-img{
    height: 244px;
    border-radius: inherit;
    box-shadow: 1px 1px 8px rgb(0, 0, 0);
    margin-bottom: 20px;
    width: 260px;
    object-fit: contain;
    transition: all 0.15s;
}
.project-img:hover{
    box-shadow: 1px 1px 6px rgb(0, 21, 255);
}
.project-img:active{
    box-shadow: none;
}
.tooltip-div{
    position: relative;
    display: inline-flex;
}
.tooltip-div:hover .tooltip{
    opacity: 1;
}
.tooltip{
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    position: absolute;
    bottom: -36px;
    left: 0;
    text-align: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s;
}
.project-title{
    font-weight: 700;
    font-size: 26px;
    color: black;
}
.tool-list{
    margin-left: 16px;
    line-height: 30px;
}
.contact-txt{
    text-align: center;
    margin-bottom: 40px;
}
.contacts-grid{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact-link{
    margin-right: 30px;
}
.contact-link-img{
    height: 40px;
    border-radius: 10px;
}
@media(max-width: 1000px){
    .header-nav{
        display: none;
    }
    .hamburger-menu-icon{
        display: inline;
    }
    .profile-content-div{
        display: block;
    }
    .projects{
        display: block;
    }
    .project{
        margin-bottom: 20px;
    }
    .photo{
        margin-left: 30px;
    }
}
@media(min-width: 1001px){
    .profile-div{
        display: flex;
    }
    .profile-content-div{
        margin-left: 40px;
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 20px;
    }
}